/*Css reset*/
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,button,th,td,section{margin:0;padding:0;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
address,caption, cite,code,dfn,em,i,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
capation,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:' '}
abbr,acronym{border:0;}
img { display: block;width: 100%;height: auto;}
a:link, a:visited , a:hover , a:active { text-decoration: none;}

/* 消除click会出现点击区域闪一下 */
a, button {-webkit-tap-highlight-color: transparent;-webkit-appearance: none;}
input { -webkit-appearance: none; } /* 解决苹果手机 按钮变白*/
input { border: none;}
/*common*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.fb { font-weight: bold;}
.none { display: none;}
.block { display: block;}
/*tip*/
html,img { font-size:100px; }
body { font-size: .14rem;font-family:Helvetica,\9ED1\4F53;min-width:280px; margin-left:auto; margin-right:auto;}